# Python
__pycache__/
*.py[cod]
*$py.class

# Virtual Environment
.venv/
venv/
env/

# VS Code
.vscode/

# PyCharm
.idea/

# Distribution
build/
dist/
*.egg-info/

# Testing
.pytest_cache/

# Logs
*.log

# OS
.DS_Store
Thumbs.db

#trained models
*.pkl
